body {
  text-align: center;
  background-color: #eeeeee;
}

label {
  display: block;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 6px;
  font-size: 40px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="color"] {
  border: none;
  background-color: transparent;
  width: 55px;
  height: 55px;
  padding: 0;
  margin-bottom: 55px;
}

input[type="color"]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  resize: none;
  margin-bottom: 15px;
  max-width: 300px;
  font-size: 13px;
}

.card {
  height: 100%;
}

.cardheader {
  font-weight: bold;
  color: #ffffff;
}

.row > div{
  margin-bottom: 15px;
}


  /* cтилизация слайдера 1  (traсk - полоса, thumb - бегунок */
input[type=range]  {
      width: 100%;
      -webkit-appearance: none; /* chrome safari yandexBrowser etc*/
      -moz-appearance: none;
      appearance: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      border-radius: 10px/100%;
      height: 7px;
	  border: 1px solid cyan;
      background-color: #fff;
    }
    input[type=range]::-webkit-slider-thumb {
      background: #ecf0f1;
      border: 1px solid cyan;
      border-radius: 10px/100%;
      cursor: pointer;
      width:15px;
      height: 15px;
      -webkit-appearance: none;
      margin-top: -4px;
    }

    input[type=range]::-moz-range-track {
    	border-radius: 10px/100%;
        height: 5px;
    	border: 1px solid cyan;
    	background-color: #fff;
    }
   input[type=range]::-moz-range-thumb {
    	background: #ecf0f1;
    	border: 1px solid cyan;
        border-radius: 10px/100%;
    	cursor: pointer;
    }
    

/*  стилизация слайдера 2  */
/* input[type=range]  {
      width: 200px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      overflow: hidden;
      height: 7px;
    }

    input[type=range]::-webkit-slider-runnable-track {
      height: 7px;
      background-color: blue;
    }

    input[type=range]::-webkit-slider-thumb {
      background: #b8bba4;
      cursor: pointer;
      width:15px;
      height: 15px;
      -webkit-appearance: none;
      margin-top: -4px;
      box-shadow: -200px  0 0 200px  #43e5f7;

    }

    input[type=range]::-moz-range-track {
        height: 7px;
        background-color: blue;
    }


   input[type=range]::-moz-range-thumb {
      background: #b8bba4;
      cursor: pointer;
      height: 7px;
      border-radius:0px;
      box-shadow: -200px  0px 0px 200px   #43e5f7;
      padding: 0px;
      margin: 0px;
    } */
