<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gost Text | Hover Effects</title>
    <link rel="stylesheet" href="/css/ghost_textStyle.css">
</head>
<body>
    <section>
        <h2>
            <span>G</span>
            <span>h</span>
            <span>o</span>
            <span>s</span>
            <span>t&nbsp&nbsp</span>
            <span>T</span>
            <span>e</span>
            <span>x</span>
            <span>t</span>
        </h2>
    </section>
</body>
</html>