<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CSS Glowing Checkbox Button Effects</title>
    <link rel="stylesheet" href="/css/glowing_checkbox.css">
</head>
<body>
    <div class="center">
        <input type="checkbox" class="glowing_checkbox" name="">
    </div>
</body>
</html>