<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Text shadow generaton</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>

<body>
    <h1>Text shadow generator</h1>
<!--     .container>.row>.col-x1-4.col-md-6*3>.card>.card-header+.card-body -->
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="card">
                        <div class="card-header bg-primary">Настройки:</div>
                        <div class="card-body">
                            <label for="font_size">Размер шрифта</label>
                            <input class="custom-range" id="font_size" type="range" min="8" max="40" step="1"
                                value="40">
                            <label for="offset_x">Смещение по оси x</label>
                            <input class="custom-range" id="offset_x" type="range" min="-15" max="15" step="1"
                                value="4">
                            <label for="offset_y">Смещение по оси y</label>
                            <input class="custom-range" id="offset_y" type="range" min="-15" max="15" step="1"
                                value="-1">
                            <label for="blur">Размытие</label>
                            <input class="custom-range" id="blur" type="range" min="0" max="15" step="1" value="0">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card">
                        <div class="card-header bg-primary">Цвет:</div>
                        <div class="card-body">
                            <input type="color" value="#ff0000" id="color-picker">
                            <label for="opacity">Прозрачность</label>
                            <input class="custom-range" id="opacity" type="range" min="0" max="1" step="0.01" value="1">
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary">Результат:</div>
                        <div class="card-body">
                            <label for="resultHex">Цвет в HEX</label>
                            <textarea id="resultHex" rows="4" readonly></textarea><br>
                            <label for="resultRgba">Цвет в RGBA</label>
                            <textarea id="resultRgba" rows="3" readonly></textarea><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
          
        </script>
</body>

</html>