<!DOCTYPE html>
<html>
<head>
    <title>3D Social Media Icon Hover Effects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/social_media.css">
</head>
<body>
<section class="socialMedia">
    <ul class="sci">
        <li data-text="Facebook" data-color="#1877f2">
            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li data-text="Youtube" data-color="#ff0000">
            <a href="#" class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        </li>
        <li data-text="Twitter" data-color="#0099ff">
            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li data-text="Instagram" data-color="#e4405f">
            <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
    </ul>
</section>
<script src="/js/vanilla-tilt.js"></script>

<script>
    VanillaTilt.init(document.querySelectorAll(".sci li a"), {
		max: 30,
		speed: 400,
        glare: true,
        "max-glare":1
	});

    let list = document.querySelectorAll('.sci li');
    let bg = document.querySelector('.socialMedia');
    list.forEach(elements => {
        elements.addEventListener('mouseenter',
            function(event){
                let color = event.target.getAttribute('data-color');
                bg.style.backgroundColor = color;
            }
        )
    })
    list.forEach(elements => {
        elements.addEventListener('mouseleave',
            function(event){
                bg.style.backgroundColor = '#fff';
            }
        )
    })
</script>
</body>
</html>