<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animated Tea Cup | SCC Animation</title>
    <link rel="stylesheet" href="/css/teaCupStyle.css">
</head>
<body>
<div class="container">
    <div class="plate"></div>
    <div class="cup">
        <div class="top">
            <div class="vapour">
                <span style="--i:1;"></span>
                <span style="--i:3;"></span>
                <span style="--i:16;"></span>
                <span style="--i:5;"></span>
                <span style="--i:13;"></span>
                <span style="--i:20;"></span>
                <span style="--i:6;"></span>
                <span style="--i:7;"></span>
                <span style="--i:10;"></span>
                <span style="--i:8;"></span>
                <span style="--i:17;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:14;"></span>
                <span style="--i:2;"></span>
                <span style="--i:9;"></span>
                <span style="--i:15;"></span>
                <span style="--i:4;"></span>
                <span style="--i:19;"></span>
            </div>
            <div class="circle">
                <div class="tea"></div>
            </div>
        </div>
        <div class="handle"></div>
    </div>
</div>
</body>
</html>